{{define "confirmation"}}
    {{template "header"}}
        <main role="main" class="inner" style="width: 668px">
            <h1 class="cover-heading p-5">Hooray!</h1>
            <p>New customer was successfully created!</p>

            <p class="lead mt-5">
                <a href="/view-customers" class="my-button btn">View Customers</a>
            </p>

        </main>
    {{template "footer"}}
{{end}}