{{define "footer"}}

    <footer class="mastfoot mt-auto">

        <a href="https://github.com/ksenia-portfolio">App is created by Ksenia R</a>
        <br>
        <a href="https://icons8.com/icon/12782/puzzle">Puzzle icon by Icons8</a>
    </footer>
    </div>

    {{ template "script"}}

    </body>
    </html>

{{end}}