{{define "header"}}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, , shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="https://img.icons8.com/color/48/000000/puzzle.png"/>

        <title>Crud-In-Go</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">

        <!-- Local CSS file -->
        <link rel="stylesheet" href="../static/css/main.css">
    </head>

    <body class="text-center">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div>
                    <h3 class="masthead-brand my-brand" >Crud-In-Go</h3>
                </div>
                <nav class="nav nav-masthead" style="float: right; position: relative">
                           <a class="nav-link active" href="/">Home</a>
                           <a class="nav-link" href="/view-customers">View Customers</a>
                           <a class="nav-link" href="/create" style="float: right">Create Customer</a>
                 </nav>

            </header>

{{end}}