{{define "home"}}

    {{template "header"}}
        <main role="main" class="inner cover" >

            <h1 class="cover-heading p-5">Welcome to the website!</h1>

            <p class="lead">This website provides <strong> CRUD </strong> operations to manipulate customers in the database</p>
            <p class="lead mt-5">
                <a href="/view-customers" class="my-button btn btn-lg">Let's Start!</a>
            </p>
        </main>
    {{template "footer"}}

{{end}}